.App {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 10em;
  display: block;
}

body {
  background-color: #6a0067;
  background-size: cover;
  color: black;
}

h1 {
  font-size: 3em;
  text-align: center;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

.greeting {
  color: #e8d915;
  font-family: 'Lobster', cursive;
  width: 500px;
  text-align: left;
  margin: auto;
  margin-left: 2em;
  float: left;
}

.boxu {
  background: #e8d915;
  width: fit-content;
  height: fit-content;
  padding: 1.5em;
  border-radius: 1.5em;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 4em;
  margin-left: 8em;
  float: left;
}

label {
  width: 100%;
}

button {
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  background-color: #9222a3;
  border-radius: 3em;
  height: 2em;
  width: 7em;
  border: hidden;
  margin-top: 1em;
}

.movie {
  font-weight: bold;
  font-size: calc(1.5em);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9222a3;
  border-radius: 3em;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  width: 7em;
  border: hidden;
  text-align: left;
  overflow: hidden;
}

input {
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9222a3;
  border-radius: 3em;
  height: 2em;
  width: 7em;
  border: hidden;
  margin-top: 1em;
  text-align: center;
}

form {
  width: 30em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1em;
}
